
.market__product__filter{
    border: 1px solid white;
    width: 100%;
}

.all__category__filter select, 
.filter__right select
{ 
    padding: 8px 25px;
    font-size: 0.9rem;
    color: #fff;
    cursor: pointer;
    border: none;
    outline: none;
    background: #343444;
    border-radius: 5px;
}

.Search__filter{
    background-color: #343444;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: 0 10px 25px rgba(0,0,0,0.0) ;
    border-radius: 8px;
}

.Search__filter input {
    background-color: #343444;
    width: 100%;
    height: 40px;
    line-height: 28px;
    padding: 0 10px;
    padding-left: 1rem;
    border: 2px solid transparent;
    border-radius: 8px;
    outline: none;
    color: #000000;
    transition: .3s ease;
}
.ri-search-line{
    color: rgb(255, 255, 255);
    font-size: 25px;   
}

@media only screen and (max-width: 768px) {
.all__category__filter select, 
.filter__right select{
    padding: 5px 20px;
    font-size: 0.6rem;
}

.Search__filter input{
    height: 25px;
}

.ri-search-line{
    
    font-size: 18px;   
}


}